%h1
  Gracias, a continuacion podras ver el detalle de el pago recibido
%p
  ="Numero de Poliza: #{@policy.id}"
%p
  ="Numero de Pago: #{@policy.payment.id}"
%p
  ="Tarjeta usada: **** **** **** #{@policy.payment.credit_card_terminal}"
%p
  ="Total: #{number_to_currency(@policy.total, precision: 2)}"
%p
  Gracias
